.projects .row:nth-child(1), .contact .row:nth-child(1) {
    background-color: #47444478;
    width: 40%;
    margin-top: 6%;
    padding: 2% 0 1% 0;
}

/* Home Page */



/* Projects Page */

.projects .row {
    width: 75%;
    background-color: #202020a2;
    box-shadow: 5px 5px;
    padding: 1% 0;
    margin: 4% auto;
}

.col {
   color: white;
}

.projects .col p {
    margin-left: 3%;
    font-size: 1.2vw;
    max-width: 45vw;
}

.projects img { 
    width: 20vw;
    margin: 0 3% 3% 1.5%;
    float: right;
}

.projects h2 {
    font-size: 3vw;
}

.projects h1 {
    font-size: 4vw;
}

/* Contacts Page */

.contact .row {
    width: 80%;
    background-color: #615353a2;
    box-shadow: 5px 5px;
    padding: 2% 0 1.5% 0;
    margin: 6% auto;
    border-radius: 3vw;
}

.row:nth-child(1) {
    border-radius: 0;
}

.contact .row img {
    width: 12vw;
    margin: 1% auto;
}

.contact .row:nth-child(2) {
    background-color: #ff161663;
}

.contact .row:nth-child(3) {
    background-color: #64ffac78;
}

.contact .row:nth-child(4) {
    background-color: #7dc7f178;
}

.contact .row:nth-child(5) {
    background-color: #3b97ff9b;
}

.contact .row:nth-child(6) {
    background-color: #946dff9b;
}

.contact .row:nth-child(5) a, .contact .row:nth-child(6) a,  .contact .row:nth-child(4) a {
    color: #f6ec8cdc;
}

.col {
   text-align: center;
   color: white;
}

.contact .col h2, .contact .col p {
    font-size: 3vw;
}

.contact h1 {
    font-size: 4vw;
}