.nav-bar {
    width: 95%;
    margin: 3% auto;
    box-shadow: 8px 8px;
    padding: 1% 3%;
    opacity: 90%;
}

.brand {
    font-size: 3.25vw;
    font-family: "Quicksand", sans-serif;
}

.nav-link {
    font-size: 2vw;
    margin-left: 40px;
}

.navbar-collapse {
    margin-left: -38px;
    width: 20%;
    outline: none;
}

.nav-link:active {
    outline: none;
}